In [81]:
import pandas as pd

In [82]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [83]:
df = data[0]

In [84]:
df.head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

### Change columns name

In [85]:
df.rename(columns={'POS': 'POZ', 'TITLE': 'TYTU≈Å', 'ARTIST': 'ARTYSTA', 'YEAR': 'ROK', 'HIGH POSN': 'MAX POZ'}, inplace=True)

### Number of artists in the album

In [86]:
df['ARTYSTA'].nunique()

47

### Which artists are most often on the list - Top 5

In [88]:
df['ARTYSTA'].value_counts().head(5)

COLDPLAY         3
TAKE THAT        3
FLEETWOOD MAC    2
ABBA             2
DIDO             2
Name: ARTYSTA, dtype: int64