In [1]:
import pandas as pd

In [8]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [77]:
df = data[0]

In [78]:
df.head()

   Artysta   Rok  Poz                                 Tytuł  Max poz
0    QUEEN  1981    1                         GREATEST HITS        1
1     ABBA  1992    2                  GOLD - GREATEST HITS        1
2  BEATLES  1967    3  SGT PEPPER'S LONELY HEARTS CLUB BAND        1
3    ADELE  2011    4                                    21        1
4    OASIS  1995    5        WHAT'S THE STORY MORNING GLORY        1

### Change columns name

In [79]:
df.rename(columns={'POS': 'POZ', 'TITLE': 'TYTUŁ', 'ARTIST': 'ARTYSTA', 'YEAR': 'ROK', 'HIGH POSN': 'MAX POZ'}, inplace=True)

### Number of artists in the album

In [8]:
df['ARTYSTA'].nunique()

47